<div class="col">
	<div
		class="card shadow-sm"
		data-fecha="<%= new Date(post.fecha).toISOString() %>"
		data-seguidores="<% if(post.numSeguidores != null) { %><%= post.numSeguidores %><% } %>"
	>
		<div class="card-title pt-2 px-2 d-flex align-items-center gap-2">
			<a href="/usuarios/<%= post.autor.nombre %>"
				><img
					src="<%= post.signedUrlAutor %>"
					alt="foto de perfil de <%= post.autor.nombre %>"
					width="60"
					height="60"
					class="rounded-circle foto-perfil-nav"
					loading="lazy"
			/></a>

			<div class="cont-text-cabecera-post d-flex flex-wrap align-items-center gap-2">
				<a href="/usuarios/<%= post.autor.nombre %>"><%= post.autor.nombre %></a>
				<div class="vr mx-1"></div>
				<span class="span-fecha-post" data-fecha="<%= new Date(post.fecha).toISOString() %>"></span>
			</div>
		</div>
		<img
			src="<%= post.signedUrlPost %>"
			alt=""
			width="100%"
			class="bd-placeholder-img card-img-top post-img mt-1"
			preserveAspectRatio="xMidYMid slice"
			loading="lazy"
		/>
		<div class="card-body" id="post<%= post._id %>">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<span class="num-favs fw-semibold"><%= post.numFavs %> favorito<% if(post.numFavs !== 1) { %>s<% } %></span>
				<img
					src="<% if(post.esFavorito) { 
								%>/images/fav.png<% 
							} else { 
								%>/images/no-fav.png<% 
							} %>"
					alt="haz click para des/favoritear el post"
					class="img-fav"
					width="24"
					height="24"
				/>
			</div>

			<% const palabrasTexto = post.texto.split(" "); %>
			<p class="card-text mb-2">
				<% for(let palabra of palabrasTexto) { if(palabra.startsWith("#")) { %><a
					href="posts?q=<%= palabra.substring(1) %>"
					class="hashtag-post"
					><%= palabra %></a
				>
				<% } else{ %><%= `${palabra} ` %><% } } %>
			</p>
		</div>
	</div>
</div>
