<div class="col">
	<div class="card shadow-sm">
		<div class="card-title">
			<img
				src="<%= post.signedUrlAutor %>"
				alt="foto de perfil de <%= post.autor.nombre %>"
				width="40"
				height="40"
				class="rounded-circle foto-perfil-nav"
				loading="lazy" />
			<div>
				<a href="/usuarios/<%= post.autor.nombre %>"><%= post.autor.nombre %></a>
				<p>
					<% const fecha = new Date(); const fechaPost = new Date(post.fecha); if (fecha - fechaPost < 1000 * 60) {%>
					Hace <%= Math.round((fecha - fechaPost) / 1000) %> segundo<% if(Math.round((fecha - fechaPost) / 1000) !== 1)
					{ %>s<% } %> <% } else if(fecha - fechaPost < 1000 * 60 * 60) { %> Hace <%= Math.floor((fecha - fechaPost) /
					(1000 * 60))%> minuto<% if(Math.floor((fecha - fechaPost) / (1000 * 60)) !== 1) { %>s<% } %> <% } else
					if(fecha - fechaPost < 1000 * 60 * 60 * 24) { %> Hace <%= Math.floor((fecha - fechaPost) / (1000 * 60 * 60))%>
					hora<% if(Math.floor((fecha - fechaPost) / (1000 * 60 * 60)) !== 1) { %>s<% } %> <% } else if(fecha -
					fechaPost < 1000 * 60 * 60 * 24 * 2) { %> Hace 1 día <% } else { %> <%= fechaPost.getDate() %>/<%=
					fechaPost.getMonth() + 1 %>/<%= fechaPost.getFullYear() %> <% } %>
				</p>
			</div>
		</div>
		<img
			src="<%= post.signedUrlPost %>"
			alt=""
			width="100%"
			class="bd-placeholder-img card-img-top post-img"
			preserveAspectRatio="xMidYMid slice"
			loading="lazy" />
		<div class="card-body" id="post<%= post._id %>">
			<div>
				<p><%= post.numFavs %> favorito<% if(post.numFavs !== 1) { %>s<% } %></p>
				<img
					src="<% if(post.esFavorito) { 
								%>/images/fav.png<% 
							} else { 
								%>/images/no-fav.png<% 
							} %>"
					alt="haz click para des/favoritear el post"
					class="img-fav"
					width="30"
					height="30" />
			</div>

			<p class="card-text"><%= post.texto %></p>
			<div>Añadir comentarios</div>
		</div>
	</div>
</div>
