<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>FrameSnap - <%= tag %></title>
		<link rel="icon" href="/images/favicon.png" type="image/png" />
		<link href="/css/normalize.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous"
		/>
		<link href="/css/main.css" rel="stylesheet" type="text/css" crossorigin="anonymous"/>
	</head>
	<body>
		<!-- MENÚ DE NAVEGACIÓN -->
		<%- include("./partials/header.ejs"); %>

		<!-- CONTENIDO PRINCIPAL -->
		<main class="main">
			<div class="container px-0" style="max-width: 469px">
				<!-- FORMULARIO DE BÚSQUEDA DE POSTS -->
				<form action="/posts" method="GET" role="search" autocomplete="off">
					<select class="form-select mb-2 py-2" name="fechaPosts" aria-label="Elige la fecha de los posts a buscar">
						<option value="dia" <% if(fechaPosts && fechaPosts === "dia"){%>selected<% } %>>Hoy</option>
						<option value="semana" <% if(fechaPosts && fechaPosts === "semana"){%>selected<% } %>>Desde hace 1 semana</option>
						<option value="mes" <% if(fechaPosts && fechaPosts === "mes" || !fechaPosts){%>selected<% } %>>Desde hace 1 mes</option>
						<option value="tmes" <% if(fechaPosts && fechaPosts === "tmes"){%>selected<% } %>>Desde hace 3 meses</option>
						<option value="smes" <% if(fechaPosts && fechaPosts === "smes"){%>selected<% } %>>Desde hace 6 meses</option>
						<option value="anyo" <% if(fechaPosts && fechaPosts === "anyo"){%>selected<% } %>>Desde hace 1 año</option>
					</select>
					<div class="d-flex gap-2">
						<input
							id="buscarPosts"
							type="search"
							class="form-control"
							placeholder="Etiqueta..."
							aria-label="Buscar posts por tags"
							name="q"
							value="<%=tag%>"
						/>
						<input type="submit" class="btn btn-primary" value="Buscar" />
					</div>
				</form>
			</div>
			<!-- POSTS ENCONTRADOS -->
			<div class="album py-4 cont-timeline">
				<div id="posts" class="container px-0" style="max-width: 469px">
					<div id="cont-posts" class="row row-cols-1 g-3">
						<% if(posts.length > 0) { %> <% for(let post of posts) { %> <%- include("./partials/post.ejs", {post:
						post}); %> <% } %> 
						<!-- BOTÓN PARA CARGAR MÁS USUARIOS -->
						<div class="col">
							<button id="cargarPostsTag" type="button" class="btn btn-primary btn-primary-padding w-100">Más posts</button>
						</div>
						<% } else { %>
							<div class="col caja-blanca mx-2 p-4 rounded-3" style="max-width: 469px">
								<p class="mb-0">
									Parece que últimamente no ha habido ningún post con el tag <%=tag%>.
								</p>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</main>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"
		></script>
		<script src="/javascript/menu.js" type="module" crossorigin="anonymous"></script>
		<script src="/javascript/post.js" type="module" crossorigin="anonymous"></script>
	</body>
</html>
